<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>

  <body bgcolor="#585858">
    <div class="pure-g">
      <div class="pure-u-1-24"></div>
      <div class="pure-u-22-24">
	<a class="pure-button" href="/">Home</a>
	<h1 align="center"><font color="white">Blahblahblog</font></h1>
	<hr>
	<h2> <font color="white">{{post[0]}} - {{post[1]}}</font></h2>
	{{post[2]}}
	<br>
	<br>
	<hr>
    {% for comment in comments %}
	<h3> <font color="blue">{{comment[1]}} - {{comment[2]}}</font></h3>
    {{comment[3]}}
	<br>
    {% endfor %}
	<br>
	<form class="pure-form pure-form-aligned" method="POST">
	  <fieldset>
	    <legend><font color="white">Comment:</font></legend>
	    <input class="pure-input-8-24" name="author" type="text" placeholder="Name"><br>
	    <div class="pure-u-1">
	    <textarea class="pure-input-2-3" name="comment" type="text" placeholder="Comment" rows="10" cols="30"></textarea><br></div>
	    <button type="submit" class="pure-button pure-button-primary">Comment</button>
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
</html>
